<div class="container text-light">
  <section class="my-5">
    <!--heading -->
    <h2 class="font-weight-bold text-center my-5">MAPAS DE LAS RUTAS</h2>
    <!--description -->
    <p class="text-center dark-grey-text mx-auto mb-5">
      Acontinuacion le presentamos el recorrido trazado en rutas de nuestros diferentes productos turísticos
    </p>

    <div class="row my-5">
      <div class="col-lg-5 col-xl-4">
        <div class="mb-lg-0 mb-4">
          <img class="img-fluid" src="https://i.ibb.co/bHCbxdL/lapaz.jpg" alt="Blog image">
        </div>
      </div>

      <div class="col-lg-7 col-xl-8">
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>RUTA DE LA PAZ 360º</strong></h3>


        <img class="img-fluid" src="https://i.ibb.co/VNyVRYF/Whats-App-Image-2021-06-23-at-1-08-51-AM.jpg" alt="Blog image">

   
        <!-- Post data -->
        <p class="text-muted">por <a>Rocio Limachi Condori</a>, 20/06/2021</p>
        <a class="btn btn-primary text-white">Reservar</a>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-lg-5 col-xl-4">
        <div class="mb-lg-0 mb-4">
          <img class="img-fluid" src="https://i.ibb.co/18xzjJR/under.jpg" alt="Blog image">
        </div>
      </div>

      <div class="col-lg-7 col-xl-8">
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>RUTA DE PURA PURA UNDER</strong></h3>

   
        <img class="img-fluid" src="https://i.ibb.co/SfN5tXx/Whats-App-Image-2021-06-23-at-1-03-03-AM.jpg" alt="Blog image">

        <!-- Post data -->
        <p class="text-muted">por <a>Rocio Limachi Condori</a>, 20/06/2021</p>
        <a class="btn btn-primary text-white">Reservar</a>
      </div>
    </div>

    <hr class="my-5">

  </section>
  <!-- Section: Blog v.3 -->
</div>
