<footer class="footer">

  <div class="container my-2">
    <div class="row p-2">

      <div class="col-md-4 pt-4">
        <img  [src]="cimg1" alt="Second slide" style="width: 220px;">
        <p>
          <a class="px-3" href="#">
            <fa class="f-icon" [name]="'facebook'"></fa>
          </a>
          <a class="px-3" href="#">
            <fa class="t-icon" [name]="'twitter'"></fa>
          </a>
          <a class="px-3" href="#">
            <fa class="i-icon" [name]="'instagram'"></fa>
          </a>
        </p>

        <p><a class="px-2">
            <fa [name]="'phone'"></fa>
          </a> +591 78920444
        </p>

        <div class="px-2">
          <p>
            <fa [name]="'home'"></fa>
            Direcciòn
          </p>
          <p> Sagarnaga Nº 245 Esq Linares</p>
          <p> La Paz</p>
          <p> Bolivia</p>
        </div>

      </div>
      <div class="col-md-4 pt-4">
        <h5>Navigation</h5>
        <p><a routerLink="/home">Principal</a></p>
        <p><a routerLink="/blog">Blog</a></p>
        <p><a routerLink="/contact">Contactos</a></p>
      </div>
      <div class="col-md-4 pt-4">
        <h5>Online Portal</h5>
        <p>Reservas</p>
        <p>Promociones y ofertas</p>
        <p>Mapa del sitio</p>
      </div>

    </div>
  </div>

  <div id="copyright">
    <div class="container p-1">
      <div class="row">
        <div class="col-md-12 text-center"> Copyright &copy;2021 BIKER' AJAYU.</div>
      </div>
    </div>
  </div>

</footer>
