<div class="carousel slide mb-3" data-ride="carousel">



  <div id="header-banner">
    <div class="banner-overlay">
      <div class="container">
        <div class="row">
          <section class="col-sm-6">
            <h1 class="text-upper text-success">MAX PAREDES</h1>
          </section>

        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <app-app-slide class="mx-auto"></app-app-slide>
  </div>
<div class="container">
  <div class="text-center py-5  text-white">
    <h1 class="title">Paquetes Turísticos</h1>
  </div>
  <app-app-articles></app-app-articles>
  <div class="text-center py-5">
    <h1 class="title">Agencia de viajes </h1>
    <h3>(Que fomenta el mototurismo en La Paz)</h3>
  </div>



</div>