<div class="carousel slide mb-3" data-ride="carousel">



  <div id="header-banner">
    <div class="banner-overlay">
      <div class="container">
        <div class="row">
          <section class="page-content">
          </section>


        </div>
      </div>
    </div>
  </div>

  <div class="text-center  text-white">
    <h1 class="title">Paquetes Turísticos</h1>
  </div>

  <div class="container py-5">



    <app-app-articles></app-app-articles>



    <div class="text-center py-5">
      <h1 class="title text-light">Vive las mejores experiencias junto a nosotros</h1>
    </div>

    <div class="row">
      <app-app-slide class="mx-auto"></app-app-slide>
    </div>

  </div>