<div class="col-md-10 mx-auto">
  <!--Carousel Wrapper-->
  <div id="slides" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#slides" data-slide-to="0" class="active"></li>
      <li data-target="#slides" data-slide-to="1"></li>
      <li data-target="#slides" data-slide-to="2"></li>
      <li data-target="#slides" data-slide-to="3"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="d-block w-100" [src]="simg1" alt="First slide">
          <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption" style="background-color: #262626 ; color:#ff4700; padding: 10px;">
          <h3 class="">MISIÓN</h3>
          <p>La misión de BIKER AJAYU es brindar una experiencia de calidad, confiable, segura, nueva y única a nuestros
            clientes, saliendo de lo convencional y promoviendo nuevas alternativas de turismo, con una atención
            personalizada y especializada con personal altamente calificado</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="view">
          <img class="d-block w-100" [src]="simg2" alt="Second slide">
          <div class="mask rgba-black-strong"></div>
        </div>
        <div class="carousel-caption" style="background-color: #262626 ; color:#ff4700; padding: 10px;">
          <h3>VISIÓN</h3>
          <p>Llegar a posicionarnos como una de las agencias de viaje más conocidas, sobresaliendo por promover nuevas
            alternativas de turismo y siempre ofreciendo un servicio de calidad para así poder extendernos a otros
            departamentos de Bolivia</p>

        </div>
      </div>
      <div class="carousel-item">
        <div class="view">
          <img class="d-block w-100" [src]="simg3" alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption" style="background-color: #262626 ; color:#ff4700; padding: 10px;">
          <h3>VALORES</h3>
          <ul>
            <li><b>Respeto:</b> Como empresa mostraremos respeto por la vida de nuestros clientes, por eso ofrecemos
              siempre seguridad ante todo, también respetamos la cultura, costumbres y la vida de nuestros destinos y de
              nuestro personal</li>
            <li><b>Credibilidad:</b> Toda nuestra información y comunicación es veraz directa y clara.</li>


          </ul>
        </div>
      </div>
      <div class="carousel-item">
        <div class="view">
          <img class="d-block w-100" [src]="simg4" alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption" style="background-color: #262626 ; color:#ff4700; padding: 10px;">
          <h3>VALORES</h3>
          <li><b>Calidad:</b> El servicio que brindamos es personalizado y de calidad, ya que no es un tipo de turismo
            de masas, el cliente tendrá la mejor atención y experiencia.</li>
          <li><b>Innovación:</b> Nuestra empresa seguirá estando en un proceso de mejora continua. Nuestro equipo
            creativo desarrolla las mejores ofertas para mejorar el servicio que damos al visitante y asi poder ofrecer
            siempre nuevas experiencias.</li>

        </div>
      </div>
      <div class="carousel-item">

        <div class="view">
          <img class="d-block w-100" [src]="simg4" alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption" style="background-color: #262626 ; color:#ff4700; padding: 10px;">
          <h3>VALORES</h3>
          <li><b>Pasión y compromiso:</b> Estamos muy comprometidos con nuestra labor y con cumplir lo que la empresa
            ofrece, para que nuestros clientes queden satisfechos, porque nuestro personal trabaja con pasión por lo que
            hace.</li>
          <li><b>Puntualidad:</b> La agencia cumplirá al pie de la letra con sus itinerarios.</li>
          <li><b>Empatía:</b> El personal actuará de la manera más empatica posible para poder tener la confianza y la
            mejor relación de los clientes.</li>
        </div>
      </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#slides" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#slides" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>
  <!--/.Carousel Wrapper-->
</div>